html, body, #root {
  margin: 0;
  padding: 0;
  color: white;
}

hr{
  margin-bottom: 40px;
  width: 100%;
}

body{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
              url('assets/wp4676581-4k-pc-wallpapers.jpg') no-repeat center center/cover;
}

.app{
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.icon-link{
  text-decoration: none;
  color: white;
}

.icon h1{
  padding: 0px;
  margin: 5px;
}

.icon:hover{
  cursor: pointer;
}

.navbar{
  display: flex;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
}

.navs{
  margin-left: auto;
  font-size: large;
}


.navs a{
  text-decoration: none;
  padding: 10px;
  color: white;
}

.navbtns{
  border: none;
  background-color:transparent;
  font-size: medium;
  color: white;
}

.navbtns:hover{
  cursor: pointer;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.content h1,p{
  margin: 15px;
}

.type{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.discover,.type button{
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);  /* translucent white */
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.5px;
  backdrop-filter: blur(6px); /* glass effect */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
}

.type button:hover{
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  transform: scale(1.05);
}

.discover:hover{
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  transform: scale(1.05);
  transition: all 0.3s ease;

}

.search{
  text-align: center;
  font-weight:bold;
  font-size: 20px;
  padding: 5px;
  margin: 40px;
  outline: none;
  border-radius: 10px;
  height: 30px;
  width: 260px;
  background-color: inherit;
  border-bottom: 2px solid white;
  caret-color: white;
  color: white;
}


.movie-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-card{
  height: fit-content;
  width: 170px;
  margin: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.15);  /* translucent white */
  backdrop-filter: blur(6px); /* glass effect */
}

img{
  height: auto;
  width: 100%;
  border-radius: 3px;
}

.movie-card:hover{
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  transform: scale(1.05);
}